#content{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

.navbutton{
    width: 200px;
    background-color: aquamarine;
    padding: 8px ;
}
